<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>FrontEnd Boilerplate</title>
		
		<link rel="stylesheet" href="<!-- @echo RUTA_STATIC -->css/bootstrap.css">
		<link rel="stylesheet" href="<!-- @echo RUTA_STATIC -->css/model.css">
		<link rel="stylesheet" href="<!-- @echo RUTA_STATIC -->css/font-awesome.css">

	</head>
	<body>
		<header>
			<!-- @include ./inc/_header.html -->
		</header>

		<!-- Cargamos jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		
		<!-- Cargamos Modernizr para SVG -->
		<script src="<!-- @echo RUTA_STATIC -->js/vendor/modernizr_svg.js"></script>
		
		<!-- Cargamos Bootstrap JavaScript -->
		<script src="<!-- @echo RUTA_STATIC -->js/vendor/bootstrap.min.js"></script>
		
		<!-- Cargamos el menú offCanvas -->
		<script src="<!-- @echo RUTA_STATIC -->js/vendor/jPushMenu.js"></script>

		<!-- Cargamos todos los scripts propios del modelo -->
		<script src="<!-- @echo RUTA_STATIC -->js/modelo.js"></script>
	</body>
</html>